<?xml version="1.0" encoding="UTF-8"?>  
<beans  
    xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:context="http://www.springframework.org/schema/context" 
   	xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:p="http://www.springframework.org/schema/p" 
    xmlns:tx="http://www.springframework.org/schema/tx"
   	xsi:schemaLocation="http://www.springframework.org/schema/beans  
           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd  
           http://www.springframework.org/schema/context  
           http://www.springframework.org/schema/context/spring-context-3.2.xsd
           http://www.springframework.org/schema/aop   
   		   http://www.springframework.org/schema/aop/spring-aop-3.2.xsd 
           http://www.springframework.org/schema/tx  
    	   http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">  
    
	<!-- 配置数据库文件信息 -->
	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath*:config/jdbc.properties</value>
			</list>
		</property>
	</bean>
	
	<context:component-scan base-package="com.eric.service">
	</context:component-scan>
	
	<!-- 配置datasource -->
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource"
		init-method="init" destroy-method="close">
		<property name="url" value="${jdbc.url}" /> <!-- 基本属性 url、user、password -->
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<property name="initialSize" value="${jdbc.initialSize}" /> <!-- 配置初始化大小、最小、最大 -->
		<property name="minIdle" value="${jdbc.minIdle}" />
		<property name="maxActive" value="${jdbc.maxActive}" />

		<property name="maxWait" value="${jdbc.maxWait}" /> <!-- 配置获取连接等待超时的时间 -->
		<!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
		<property name="timeBetweenEvictionRunsMillis" value="${jdbc.timeBetweenEvictionRunsMillis}" />
		<!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
		<property name="minEvictableIdleTimeMillis" value="${jdbc.minEvictableIdleTimeMillis}" />

		<property name="validationQuery" value="${jdbc.validationQuery}" /> <!-- 测试有效用的SQL Quer -->
		<property name="testWhileIdle" value="${jdbc.testWhileIdle}" /> <!-- 连接空闲时测试是否有效 -->
		<property name="testOnBorrow" value="${jdbc.testOnBorrow}" /> <!-- 获取连接时测试是否有效 -->
		<property name="testOnReturn" value="${jdbc.testOnReturn}" /> <!-- 归还连接时是否测试有效 -->

		<!-- 打开PSCache，并且指定每个连接上PSCache的大小 -->
		<!-- not for mysql -->
		<property name="poolPreparedStatements" value="${jdbc.poolPreparedStatements}" />
		<property name="maxPoolPreparedStatementPerConnectionSize"
			value="${jdbc.maxPoolPreparedStatementPerConnectionSize}" />

		<property name="timeBetweenLogStatsMillis" value="${jdbc.timeBetweenLogStatsMillis}" />
		<property name="removeAbandoned" value="${jdbc.removeAbandoned}" /> <!-- 打开removeAbandoned功能 not recommend -->
		<property name="removeAbandonedTimeout" value="${jdbc.removeAbandonedTimeout}" /> <!-- 1800秒，也就是30分钟 -->
		<property name="logAbandoned" value="${jdbc.logAbandoned}" /> <!-- 关闭abanded连接时输出错误日志 -->


		<property name="filters" value="${jdbc.filters}" /> <!-- 连接池扩展 配置监控统计拦截的filters -->
		<property name="useGlobalDataSourceStat" value="${jdbc.useGloalDataSourceStat}" />
	</bean>
	

	<!-- 配置sqlSessionFactory -->
	<!-- spring和MyBatis完美整合，不需要mybatis的配置映射文件 -->
	<!-- <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:myBatls/sqlMapConfig.xml" />
		
		自动扫描mapping.xml文件						  
		<property name="mapperLocations" value="classpath:myBatls/sql/*.xml"></property>
	</bean> -->
	
	<!-- 配置sqlSessionFactory -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:myBatls/sqlMapConfig.xml" />
		<property name="mapperLocations">
			<list>
				<!-- 表示在com.chinatel包或以下所有目录中，以-resultmap.xml结尾所有文件 -->
				<value>classpath*:com/rdk/**/*-resultmap.xml</value>
			</list>
		</property>
	</bean>
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.eric.dao" />
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
	</bean>
	
	<!-- 配置druid监控spring jdbc -->
	<bean id="druid-stat-interceptor"
		class="com.alibaba.druid.support.spring.stat.DruidStatInterceptor">
	</bean>
	<bean id="druid-stat-pointcut" class="org.springframework.aop.support.JdkRegexpMethodPointcut"
		scope="prototype">
		<property name="patterns">
			<list>
				<value>com.eric.service.impl</value>
			</list>
		</property>
	</bean>
	
	<!-- 事务管理  -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
    
    <!--  使用annotation定义事务-->    
    <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true" />
	<!-- 启动Spring MVC的注解功能，完成请求和注解POJO的映射 -->
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" />
	
   
</beans>  